EXPO_PUBLIC_SUPABASE_URL=https://sua-url-do-supabase.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sua-chave-anonima-do-supabase
EXPO_PUBLIC_SUPPORT_EMAIL=seu-email-real@dominio.com
EXPO_PUBLIC_ALLOW_GUEST_TEST_ACCESS=false
